section.segunda-secao{
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.segunda-secao div {
    margin-bottom: 1.4rem;
}

section.segunda-secao div h2{
    font-size: 2.4rem;
    margin-bottom: 0.7rem;
}

section.segunda-secao div p{
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
}

section.segunda-secao .img-perfume-chloé {
    width: 95%;
    max-width: 300px;
    min-width: 300px;
}

section.segunda-secao .imgperfume-chloé2 {
    width: 95%;
    max-width: 300px;
    min-width: 300px;
}
.imagens-container {
    display: flex;
  }
  
  .img-container {
    margin-right: 100px; /* Espaçamento entre as imagens */
  }
  
  .img-container:last-child {
    margin-right: 0; /* Remove a margem à direita da última imagem */
  }
  .button-container {
    margin-top: 20px;
  }
  